<a href="https://colab.research.google.com/github/SarahRebulado/OOP1_2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes and Objects

Create a Class

In [1]:
class MyClass:
  pass

In [3]:
class OOP1_2:
  x=5
  print(x)

5

Create Objects

In [5]:
class OOP1_2:
  def __init__(self,name,age):  #__init__(parameter)
    self.name=name      #attributes
    self.age=age

  def identity(self):
    print(self.name,self.age)

person=OOP1_2("Maria", "39")  #create objects

print(person.name)
print(person.age)
print(person.identity)

Maria
39
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f34930e00d0>>

In [6]:
#Modify the Object Name

person.name="Rizette"
print(person.name)
print(person.age)

Rizette
39

In [8]:
person.age=40
print(person.name)
print(person.age)

Rizette
40

In [10]:
#Delete the object
del person.name

AttributeError: ignored

In [13]:
print(person.name)
print(person.age)

AttributeError: ignored

In [12]:
print(person.age)

40

Applicationn 1-Write a Python Program that computes the product of the area of a square, and name its class as Square, side as attributes

In [29]:
class Square:
  def __init__(self, sides):
      self.sides=sides

  def area(self):
    return (self.sides*self.sides)    #formula to compute the area of the square

  def display(self):
    print("The area of the square is: ", self.area())

square= Square(4)


print("Side of square= ",square.sides)
square.display()

Side of square=  4
The area of the square is:  16

Application 2- Write a Python Program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school as attributes

Create Object

In [35]:
class MyClass:
  def __init__(self, MyName, MyAge, MyCourse, MySchool):      #__init_parameters
    self.MyName= MyName                                       #attributes
    self.MyAge=MyAge
    self.MyCourse= MyCourse
    self.MySchool= MySchool

  def identity(self):
    print(self.MyName,self.MyAge, self.MyCourse, self.MySchool)
  
Person= MyClass("Sarah O. Rebulado", "19", "Bachelor Of Science in Computer Engineering", "Cavite State University-Main Campus")    #Createobjects

print("My Name is ",Person.MyName)
print("Age: ",Person.MyAge)
print("Course: ",Person.MyCourse)
print("School: ",Person.MySchool)

My Name is  Sarah O. Rebulado
Age:  19
Course:  Bachelor Of Science in Computer Engineering
School:  Cavite State University-Main Campus

Modify the Object Name

In [37]:
Person.MyName="Sarah Oaña Rebulado"
Person.MyAge="19 Years Old"
print("My Name is ", Person.MyName)
print("Age: ", Person.MyAge)

My Name is  Sarah Oaña Rebulado
Age:  19 Years Old

Delete the object

In [41]:
del Person.MyAge

AttributeError: ignored

In [42]:
print("My Name is ",Person.MyName)
print("Age: ",Person.MyAge)
print("Course: ",Person.MyCourse)
print("School: ",Person.MySchool)

AttributeError: ignored