<a href="https://colab.research.google.com/github/SarahRebulado/OOP1_2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes and Objects

Create a Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  x=5
  print(x)

5

Create Objects

In [3]:
class OOP1_2:
  def __init__(self,name,age):  #__init__(parameter)
    self.name=name      #attributes
    self.age=age

  def identity(self):
    print(self.name,self.age)

person=OOP1_2("Maria", "39")  #create objects

print(person.name)
print(person.age)
print(person.identity)

Maria
39
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f4a0ffc0790>>

In [4]:
#Modify the Object Name

person.name="Rizette"
print(person.name)
print(person.age)

Rizette
39

In [5]:
person.age=40
print(person.name)
print(person.age)

Rizette
40

In [6]:
#Delete the object
del person.name

In [7]:
print(person.name)
print(person.age)

AttributeError: ignored

In [ ]:
print(person.age)

Applicationn 1-Write a Python Program that computes the product of the area of a square, and name its class as Square, side as attributes

In [ ]:
class Square:
  def __init__(self, sides):
      self.sides=sides

  def area(self):
    return (self.sides*self.sides)    #formula to compute the area of the square

  def display(self):
    print("The area of the square is: ", self.area())

square= Square(4)


print("Side of square= ",square.sides)
square.display()

Application 2- Write a Python Program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school as attributes

Create Object

In [8]:
class Myclass:
  def __init__(self, name, age, course, school):      #__init_parameters
    self.name= name                                       #attributes
    self.age=age
    self.course= course
    self.school= school

  def identity(self):
    print(self.name,self.age, self.course, self.school)
  
Person= Myclass("Sarah O. Rebulado", "19", "Bachelor Of Science in Computer Engineering", "Cavite State University-Main Campus")    #Createobjects

print("My Name is ",Person.name)
print("Age: ",Person.age)
print("Course: ",Person.course)
print("School: ",Person.school)

My Name is  Sarah O. Rebulado
Age:  19
Course:  Bachelor Of Science in Computer Engineering
School:  Cavite State University-Main Campus

Modify the Object Name

In [9]:
Person.name="Sarah Oaña Rebulado"
Person.age="19 Years Old"
print("My Name is ", Person.name)
print("Age: ", Person.age)

My Name is  Sarah Oaña Rebulado
Age:  19 Years Old

Delete the Object

In [10]:
del Person.age

In [11]:
print("My Name is ",Person.name)
print("Age: ",Person.age)
print("Course: ",Person.course)
print("School: ",Person.school)

My Name is  Sarah Oaña Rebulado

AttributeError: ignored